@font-face {
  font-family: "material-icon";
  src: url("./Material-Design-Iconic-Font.woff2");
}

::-webkit-scrollbar {
  appearance: none;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  width: 100vw;
  height: 100vh;
  background-color: #f8f8f8;
  display: flex;
  justify-content: center;
  align-items: center;
}

.main-container {
  width: 60%;
  height: 80%;
  background-color: #fff;
  box-shadow: 0px 0px 15px 2px rgba(0, 0, 0, 0.2);
  border-radius: 20px;
  padding: 20px;
  display: flex;
}
.left-container {
  width: 50%;
  height: 100%;
  /* background-color: red; */
  display: flex;
  justify-content: center;
  justify-items: center;
}
.left-container > form {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  gap: 20px;
  padding: 50px 30px 0px 50px;
}
.left-container > form > div {
  width: 100%;
  height: 40px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.border-bottom {
  border-bottom: 1px solid;
}
.left-container > form > div > input:not(input[type="checkbox"]) {
  width: 100%;
  height: 100%;
  border: none;
  outline: none;
}
.icon-font {
  font-family: "material-icon";
  padding-right: 20px;
  font-size: 18px;
}
.name-icon::before {
  content: "\f207";
}
.email-icon::before {
  content: "\f15a";
}
.pass-icon::before {
  content: "\f191";
}
.repas-icon::before {
  content: "\f190";
}
.register > button:hover {
  background-color: aqua;
}

.register > button {
  width: 50%;
  height: 100%;
  background-color: blue;
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

.right-container {
  width: 50%;
  height: 100%;
  /* background-color: aqua; */
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.right-container > div:first-child {
  height: 100%;
  width: 100%;
}

.right-container img {
  height: 100%;
  width: 100%;
}

@media screen and (max-width: 986px) {
  .main-container {
    flex-direction: column;
    gap: 100px;
  }
  .left-container {
    width: 100%;
  }
  .right-container {
    width: 100px;
  }

  @media screen and (max-width: 686px) {
    .main {
      flex-direction: column;
      width: 80%;
    }
  }

  @media screen and (max-width: 464px) {
    body {
      padding: 20px;
    }
    .main-container {
      width: 100%;
      padding: 10px;
    }
  }
}
